body {
   background-color: black;
   font-style:arial;
   margin-left: 75px;
   margin-right: 75px;
   
}
header{
   display: flex;
   justify-content: space-between;
   
}
.main-nav{
   display:flex;
   align-items: baseline;
}
.nav-link{
margin: 12px;
}
nav li a{
   color:white;
   margin:10px;
   font-size: 20px;
   text-decoration:none;
}
.heading{
   color:white;
}
nav li a:hover{
   color:rgb(240, 197, 90);
}