body {
   background-color: black;
}
header{
   display: flex;
   justify-content: space-between;
   padding:8px;
}
.main-nav{
   display:flex;
   align-items: baseline;
}
.nav-link{
margin: 12px;
}
nav li a{
   color:white;
   font-style:arial;
   font-size: 20px;
}
.heading{
   color:white;
}