html{
   
   scroll-behavior: smooth }
body {
   /*background-color: black;*/
   font-style:arial;
   
   background-color: white;
}
   
.content{
   margin-left: 75px;
   margin-right: 75px;
}
header{
   display: flex;
   justify-content: space-between;
  text-align: center;
   height:35px;
   padding-bottom: 2rem;
   margin-left: 75px;
   margin-right: 75px;
   
  
   
   
}
.main-nav{
   display:flex;
   align-items: center;
}
.nav-link{
margin: 12px;
}
a.main-nav{
   color:rgb(87, 78, 78);
   margin:10px;
   font-size: 24px;
   text-decoration:none;
   font-weight:bold;
}
div.heading{
   color:rgb(10, 10, 10);
   font-size: 25px;
   font-weight:bold;
  
   
}
.main-nav a:hover{
   color:rgb(88, 39, 201);
   text-decoration: underline;
}
#About{
   height:600px;
}
main{
height:600px;
background-color: rgb(247, 241, 241);
display:flex;
}
.hello{
   padding-top: 70px;
   color:rgb(88, 39, 201);
   font-size:25px;
   font-weight: bold;
}
.name{
   color:rgb(88, 39, 201);}
.intro{
   color:rgb(10, 10, 10);
   font-size:50px;
   font-weight:bold;
}
.Jha{
   color:rgb(245, 184, 71)
}
.description{
   font-size:17px;
   font-weight:bold;
}
.btn-aboutme{
   height:50px;
   width: 12rem;
   font-size:19px;
   border-radius:30px;
   background-color:rgb(88, 39, 201);
   color:azure;
}
.image{
   height:300px;
  width:300px;
  border-radius:140px;
  border:4px solid rgb(245, 184, 71);
  
}
.photo{
   padding:50px;
   margin-left:120px;
}